/**
 * module/flex/index
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

.flex
	display flex

// Wrap
.wrap
	flex-wrap wrap
.nowrap
	flex-wrap nowrap

// Direction
.flex-dir-row
	flex-direction row
.flex-dir-row-reverse
	flex-direction row-reverse
.flex-dir-col
	flex-direction column
.flex-dir-col-reverse
	flex-direction column-reverse

// Horizontal Alignment
.jc-flex-start
	justify-content flex-start
.jc-flex-end
	justify-content flex-end

// Vertical Alignment
.align-items-flex-start
	align-items flex-start
.align-items-flex-end
	align-items flex-end
