/**
 * module/flex/index
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

.flex
	display flex

// Wrap
.wrap
	flex-wrap wrap
.nowrap
	flex-wrap nowrap

// Direction
.fl-dir-row
	flex-direction row
.fl-dir-row-reverse
	flex-direction row-reverse
.fl-dir-col
	flex-direction column
.fl-dir-col-reverse
	flex-direction column-reverse

// Horizontal Alignment
.jc-flstart
	justify-content flex-start
.jc-flend
	justify-content flex-end

// Vertical Alignment
.align-items-flstart
	align-items flex-start
.align-items-flend
	align-items flex-end
