/**
 * Pagination - large
 */

// nav.pagination
// 	> h2

// This is for Woocommerce pagination
// nav.pagination li

// .nav-links
// a.page-numbers,
// span.page-numbers

// .page-numbers
// 	&.current
// 	&.prev
// 	&.next

// a.page-numbers
// 	&:hover
