/**
 * header/index
 */

// <header>
// header.header

/* Logo */
// figure.logo

/* Global Navigation */
// nav.global

/* Hamberger */
// #navToggleBtn
//	-webkit-tap-highlight-color transparent
//	cursor pointer

/* Spacer */
// .header-spacer

/* Toggle */

/* Sticky */
