/**
 * header/index
 */

// <header>
// header.header

// Logo
// h1.logo

// Global Navigation
// nav.global

// Toggle Button
// #navToggleBtn
//	-webkit-tap-highlight-color transparent
//	cursor pointer

// Spacer
// .header-spacer

// Toggle

// Sticky
