/**
 * header/md
 */

// header.header
	
/* Logo */
// figure.logo

/* Global Navigation */


/* Hamberger */
// #navToggleBtn
//	display none

/* Spacer */
// .header-spacer
//	display none

/* Toggle */

/* Sticky */

