# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# built files
/dist
/css/style.css
/css/style.min.css
/css/medium.css
/css/medium.min.css
/css/large.css
/css/large.min.css
/css/*.map
/js/app.js
/js/app.min.js
/js/*.map