/**
 * module/button
 */
.btn
	background transparent
	border 1px solid $main-color
	color $main-color
	display inline-block
	font-size 16px
	line-height 22px
	padding 14px 16px 12px
	text-align center
	transition all .3s
	width 100%
	max-width 288px
	&:hover
		background $main-color
		color #fff
	&.block
		display block