/**
 * module/grid
 */
.container
	width 100%
	max-width $container-width
	margin 0 auto
	padding 0 16px

.flex.row
	margin 0 -($gutter/2)
	flex-wrap wrap

[class^="col-"]
	margin $gutter 0 0
	padding 0 ($gutter/2)

.col-1, .col-2
	width 50%

.col-3, .col-4, .col-5, .col-5, .col-7,
.col-8, .col-9, .col-10, .col-11, .col-12
	width 100%

// No margin-top on col
.no-margin
	> [class^="col-"]
		margin-top 0