/**
 * module/grid-t
 */
.container
	max-width $container-width-t
	padding 0 ($gutter+8)

for $i in (1..12)
	.col-{$i} 
		width (100 * $i / 12)%

for $j in (1..6)
	.offset-{$j}
		margin-left (100 * $j / 12)%