/**
 * module/pagination
 */
nav.pagination
	font-size 14px
	margin-top 10px
	text-align center
	> h2
		display none

// This is for Woocommerce pagination
nav.pagination li
	display inline-block

//.nav-links
// a.page-numbers,
// span.page-numbers
	
.page-numbers
	background transparent
	border 1px solid $main-color
	color $main-color
	display inline-block
	margin 0 3px
	padding 4px 0
	width 32px
	&.current
		border-color $gray
		color $gray
	/* &.prev
		margin-right 8px
	&.next
		margin-left 8px */

a.page-numbers
	transition all .3s
	&:hover
		background $main-color
		color #fff