:root {
	/* Color */
	--clr-primary: #f30;
	--clr-main: var(--clr-primary);
	--clr-secondary: #870909;
	--clr-sub: var(--clr-secondary);

	--black: #111;
	--dark: #444;
	--gray: #aaa;
	--light: #ccc;
	--smoke: #fafbfc;
	--white: #fff;

	--bg-black: var(--black);
	--bg-dark: var(--dark);
	--bg-gray: var(--gray);
	--bg-light: var(--light);
	--bg-smoke: var(--smoke);
	
	--bdr-black: var(--black);
	--bdr-dark: var(--dark);
	--bdr-gray: var(--gray);
	--bdr-light: var(--light);
	--bdr-smoke: var(--smoke);

	--txt-black: var(--black);
	--txt-dark: var(--dark);
	--txt-gray: var(--gray);
	--txt-light: var(--gray);

	--red: #f00;
	--orange: #f90;
	--yellow: #ff0;
	--green: #390;
	--teal: #0c9;
	--cyan: #0cf;
	--blue: #03f;
	--purple: #90c;
	--magenta: #f09;

	/* Font */
	--serif: "Times New Roman", Times, Georgia, serif;
	--sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif;
	--mono: "Courier New", Courier, "Lucida Console", Monaco, monospace;
	--icon: Icon;

	--body: 13px; --body-l: 22px;
	--h1: 28px; --h1-l: 38px;
	--h2: 24px; --h2-l: 34px;
	--h3: 21px; --h3-l: 28px;
	--h4: 18px; --h4-l: 24px;
	--h5: 16px; --h5-l: 24px;
	--h6: 14px; --h6-l: 20px;
	--small: 12px; --small-l: 16px;
	--smaller: 11px; --smaller-l: 15px;

	/* Grid */
	--container-width: 480px;
	--container-width-md: 960px;
	--container-width-lg: 1200px;
	--container-pad: 16px;
	--container-pad-md: 28px;
	--container-pad-lg: 48px;
	--gutter: 12px;
	--gutter-md: 20px;
	--gutter-lg: 32px;

	/* Space */
	--sp-s: 12px;
	--sp-m: 24px;
	--sp-l: 48px;
	--sp-xl: 96px;
	
	--sect-mar: 64px;
	--sect-mar-md: 80px;
	--sect-mar-lg: 96px;
}
