:root {
	/* Font */
	--body: 15px; --body-l: 26px;
	--h1: 36px; --h1-l: 44px;
	--h2: 28px; --h2-l: 36px;
	--h3: 24px; --h3-l: 32px;
	--h4: 21px; --h4-l: 28px;
	--h5: 18px; --h5-l: 24px;
	--h6: 16px; --h6-l: 22px;
	--small: 13px; --small-l: 18px;
	--smaller: 12px; --smaller-l: 16px;

	/* Grid */
	--container-width: var(--container-width-md);
	--container-pad: var(--container-pad-md);
	--gutter: var(--gutter-md);

	/* Space */
	--sect-mar: 80px;
}
