.grid, .grid2, .grid3, .grid4, .grid5, .grid6
	display grid
	grid-gap var(--gutter)

.grid
	grid-template-columns repeat(12, 1fr)
.grid2
	grid-template-columns repeat(2, 1fr)
.grid3
	grid-template-columns repeat(3, 1fr)
.grid4
	grid-template-columns repeat(4, 1fr)
.grid5
	grid-template-columns repeat(5, 1fr)
.grid6
	grid-template-columns repeat(6, 1fr)

.row
	display flex
	flex-wrap wrap
	margin-left calc(var(--gutter) / 2 * -1)
	margin-right calc(var(--gutter) / 2 * -1)

[class^="col-"]
	padding-left calc(var(--gutter) / 2)
	padding-right calc(var(--gutter) / 2)
	width 100%

for $i in (1..12)
	.col-{$i} 
		width (100 * $i / 12)%
	.gcol-{$i}
		grid-column-end span $i

for $j in (1..11)
	.offset-{$j}
		margin-left (100 * $j / 12)%
