.grid-lg, .grid2-lg, .grid3-lg, .grid4-lg, .grid5-lg, .grid6-lg, .gri12-lg
	display grid

.grid2-lg
	grid-template-columns repeat(2, 1fr)
.grid3-lg
	grid-template-columns repeat(3, 1fr)
.grid4-lg
	grid-template-columns repeat(4, 1fr)
.grid5-lg
	grid-template-columns repeat(5, 1fr)
.grid6-lg
	grid-template-columns repeat(6, 1fr)
.grid12-lg
	grid-template-columns repeat(12, 1fr)

.grid-gap-lg
	grid-gap var(--gutter)

for $i in (1..12)
	.col-lg-{$i} 
		width (100 * $i / 12)%
	.gcol-lg-{$i}
		grid-column-end span $i

for $j in (1..11)
	.offset-lg-{$j}
		margin-left (100 * $j / 12)%
