.grid-md, .grid2-md, .grid3-md, .grid4-md, .grid5-md, .grid6-md, .grid12-md
	display grid

.grid2-md
	grid-template-columns repeat(2, 1fr)
.grid3-md
	grid-template-columns repeat(3, 1fr)
.grid4-md
	grid-template-columns repeat(4, 1fr)
.grid5-md
	grid-template-columns repeat(5, 1fr)
.grid6-md
	grid-template-columns repeat(6, 1fr)
.grid12-md
	grid-template-columns repeat(12, 1fr)

.grid-gap-md
	grid-gap var(--gutter)

for $i in (1..12)
	.gcol-{$i}-md
		grid-column-end span $i
