@charset "utf-8"

@import "config/variable"

@import "base/lg"

@import "component/gheader/lg"
@import "component/gfooter/lg"
@import "component/sidebar/lg"

@import "component/accordion/lg"
@import "component/button/lg"
@import "component/dialog/lg"
@import "component/form/lg"
@import "component/grid/lg"
@import "component/pagination/lg"
@import "component/tabs/"

@import "page/common/lg"
@import "page/top/lg"
@import "page/contact/lg"

@import "post/lg"
