@charset "utf-8"

@import "config/variable"

@import "root/lg"
@import "base/lg"

@import "component/gheader/lg"
@import "component/gfooter/lg"

@import "component/accordion/lg"
@import "component/article/lg"
@import "component/button/lg"
@import "component/carousel/lg"
@import "component/dialog/lg"
@import "component/form/lg"
@import "component/grid/lg"
@import "component/icon/lg"
@import "component/list/lg"
@import "component/pagination/lg"
@import "component/sidebar/lg"
@import "component/tab/"
@import "component/table/lg"

@import "page/common/lg"
@import "page/top/lg"
@import "page/contact/lg"
