@charset "utf-8"

@import "config/variable"

@import "base/lg"

@import "component/button/lg"
@import "component/card/lg"
@import "component/form/lg"
@import "component/grid/lg"
@import "component/loading-page/"
@import "component/pagination/lg"
@import "component/widget/lg"

@import "header/lg"
@import "sidebar/lg"
@import "footer/lg"

@import "page/common/lg"
@import "page/top/lg"
@import "page/contact/lg"

@import "post/lg"
