/**
 * style
 */
@charset "utf-8"

// Config
@import "config/variable"
@import "config/fontsize-mobile"
@import "config/mixin"
@import "config/reset"

// Base & Typography
@import "base/"
@import "typography/"

// Module
@import "module/button"
@import "module/card"
@import "module/flexbox"
@import "module/form"
@import "module/grid"
@import "module/list"
@import "module/pagination"
@import "module/table"
@import "module/widget"

// Layout
@import "header/"
@import "sidebar/"
@import "footer/"

// Wordpress
@import "common/"
@import "page/"
@import "post/"

// Vendor (for plugins)
@import "vendor/slick-theme"
@import "vendor/cf7"