/**
 * module/column/index
 */

// Row - wrapper for column element
.row
	display flex
	margin 0 (-($gutter/2))
	flex-wrap wrap

// column
[class^="col-"]
	margin $gutter 0 0
	padding 0 ($gutter/2)

for $i in (1..12)
	.col-{$i} 
		width (100 * $i / 12)%

for $j in (1..6)
	.offset-{$j}
		margin-left (100 * $j / 12)%

// No margin-top on col
.no-margin
	> [class^="col-"]
		margin 0
.no-padding
	> [class^="col-"]
		padding 0