/**
 * common/the_content
 */

.the_content
	// Text
	h1, h2, h3, h4, h5, h6, ul, ol
		clear both
	h2, h3, h4, h5, h6,
	p, ul, ol
		margin 16px 0 0
	
	// List
	ul
		@extend ul.disc
	li
		margin 1px 0 0
	> ul > li, > ol > li
		&:first-child
			margin-top 0
	
	// Image
	figure
		margin 1.25em 0 1em
		max-width 100%
		&.aligncenter
			margin-left auto
			margin-right auto
	figcaption
	img
		margin 1em
		&.alignleft, &.alignright
			display block
			margin 0 auto
		&.aligncenter
			display block
			margin 1em auto
	
	// Link
	a
		word-break break-all
		word-wrap break-word
		&:hover
			text-decoration underline
	
	// Table
	table
		width 100%
		td
			&:first-child
				width 120px
	// First child
	> :first-child
		margin-top 0