<button class="accordion" role="button" aria-expanded="false">Accordion</button>
<div class="accordionpanel" role="region">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button class="accordion" role="button" aria-controls="accordionpanel-nonnext" aria-expanded="false">Accordion not next sibling</button>
<p>Open an accordion skipping this paragraph.</p>
<div id="accordionpanel-nonnext" class="accordionpanel" role="region">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<h3 class="accordion" role="button" aria-expanded="false">Accordion not-button</h3>
<div class="accordionpanel" role="region">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button class="accordion" role="button" aria-expanded="false" data-defaultopen="true">Accordion default open</button>
<div class="accordionpanel" role="region">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
