<button type="button" onclick="openDialog('dialog')">Open Dialog</button>
<div id="dialog" class="hidden" role="dialog" aria-labelledby="dialog-label" describedby="dialog-desc" aria-modal="true">
	<h2 id="dialog-label"></h2>
	<div id="dialog-desc">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<button type="button" onclick="closeDialog(this)">close</button>
</div>
