<div class="tabs">
	<nav role="tablist" aria-label="Sample Tabs">
		<button id="tab-1" role="tab" aria-selected="true" aria-controls="tabpanel-1" tabindex="0">Panel 1</button>
		<button id="tab-2" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">Panel 2</button>
		<button id="tab-3" role="tab" aria-selected="false" aria-controls="tabpanel-3" tabindex="-1">Panel 3</button>
	</nav>
	<div class="tabpanels">
		<div id="tabpanel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
			<p>Tab Panel 1</p>
		</div><!-- .tabpanel -->
		<div id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>
			<p>Tab Panel 2</p>
		</div><!-- .tabpanel -->
		<div id="tabpanel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" hidden>
			<p>Tab Panel 3</p>
		</div><!-- .tabpanel -->
	</div><!-- .tabpanels -->
</div>
