{% extends 'layout/base.twig' %}
{% block content %}
	<hr>
	<h1>{{ post.title }}</h1>
	{{ html ? html : post.content }}
	<h2>Accordion</h2>
	{% include 'component/accordion.twig' %}
	<h2>Modal Dialog</h2>
	{% include 'component/dialog.twig' %}
	<h2>Tab</h2>
	{% include 'component/tabs.twig' %}
	<p>Email: <a class="mailto"></a></p>
	<p>Please contact us at <a class="mailto"><span class="email-str"></span></a>.</p>
	<hr>
{% endblock %}
