{% extends "layout/base.twig" %}
{% block content %}
	<h1>{{ page.title }}</h1>
	{{ html ? html : post.content }}
	<h2>Latest Posts</h2>
	{% if posts | length %}
		<div class="">
			{% for post in posts %}
				{% include "component/post-list-item.twig" %}
			{% endfor %}
		</div>
	{% else %}
		<p>No posts found.</p>
	{% endif %}
	<h2>Accordion</h2>
	{% include "component/accordion.twig" %}
	<h2>Modal Dialog</h2>
	{% include "component/dialog.twig" %}
	<h2>Tab</h2>
	{% include "component/tabs.twig" %}
{% endblock %}
