{% extends "layout/base.twig" %}

{% block content %}
	<h1>{{ page.title }}</h1>
	{% if html %}
		{{ html }}
	{% else %}
		{{ post.content }}
	{% endif %}
	{# Show posts #}
	{% for post in posts %}
		{% include "component/post/index.twig" %}
	{% endfor %}
{% endblock %}
