{% extends "layout/base.twig" %}
{% block content %}
	<h1>Search</h1>
	{% include "component/search-form.twig" %}
	<p>{{ found_posts }} result{{ found_posts > 1 ? 's' : '' }} for &lsquo;<span>{{ s }}</span>&rsquo;</p>
	{% include "component/post-list.twig" %}
{% endblock %}
