{% extends 'layout/base.twig' %}
{% block content %}
	<h1>Search</h1>
	{% include 'component/search-form.twig' %}
	<p>{{ result }} for &lsquo;<span>{{ s }}</span>&rsquo;</p>
	{% include 'component/post-list-stack.twig' %}
{% endblock %}
