<article>
	{% if post.get_thumbnail %}
		<picture>
			<img src="{{post.thumbnail.src}}" />
		</picture>
	{% endif %}
	<h3><a href="{{post.link}}">{{post.title}}</a></h3>
	<p>{{post.preview}}</p>
</article>