*
	box-sizing border-box
	-webkit-overflow-scrolling touch
	-webkit-tap-highlight-color transparent

html, body
	position relative
	width 100%
	overflow-x hidden

section, .section
	&.mar
		margin-top var(--sect-mar)
		margin-bottom var(--sect-mar)
	&.mar-t
		margin-top var(--sect-mar)
	&.mar-b
		margin-bottom var(--sect-mar)
	&.pad
		padding-top var(--sect-mar)
		padding-bottom var(--sect-mar)
	&.pad-t
		padding-top var(--sect-mar)
	&.pad-b
		padding-bottom var(--sect-mar)

.container
	max-width var(--container-width)
	margin-left auto
	margin-right auto
	padding-left var(--container-pad)
	padding-right var(--container-pad)

figure, picture, video
	display block

img, svg
	height auto
	max-width 100%
	vertical-align bottom
	&.w100
		width 100%

ul, ol
	&.nostyle
		list-style none
		margin-left 0
		padding-left 0
ul
	&.disc, &.circle, &.square
		padding 0 0 0 1.5em
	&.disc
		list-style disc
	&.circle
		list-style circle
	&.square
		list-style square
ol
	&.lower-roman
		list-style lower-roman
	&.upper-roman
		list-style upper-roman
	&.lower-alpha
		list-style lower-alpha
	&.upper-alpha
		list-style upper-alpha

a.anchor
	display block
	position relative
	visibility hidden

button
	-webkit-tap-highlight-color transparent
	cursor pointer
	&:focus
		outline none
	&.plain
		appearance none
		border none
		background transparent
		outline none
		padding 0

br
	&.from-md, &.from-lg
		display none

// ::-moz-selection
// 	background rgba($main-color, .3)
// 	color #fff

// ::selection
// 	background rgba($main-color, .3)
// 	color #fff

.clearfix
	zoom 1
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
.clearboth
	clear both

.block
	display block
.ib
	display inline-block
.inline
	display inline
.table
	display table
.table-cell
	display table-cell
.tablet,
.desktop
	display none

.relative
	position relative
.absolute
	position absolute
.fixed
	position fixed

.has-before,
.has-after,
.has-before-after
	position relative

.has-before:before,
.has-after:after,
.has-before-after:before,
.has-before-after:after
	content ""
	display block
	position absolute

.jc-start
	justify-content start
.jc-end
	justify-content end
.jc-center
	justify-content center
.jc-stretch
	justify-content stretch
.jc-between
	justify-content space-between
.jc-around
	justify-content space-around
.jc-evenly
	justify-content space-evenly

.ai-start
	align-items start
.ai-end
	align-items end
.ai-center
	align-items center
.ai-stretch
	align-items stretch
.ai-baseline
	align-items baseline

.ac-stretch
	align-content stretch
.ac-center
	align-content center
.ac-between
	align-content space-between
.ac-around
	align-content space-around

.flx
	display flex
.flx-wrap
	flex-wrap wrap
.flx-nowrap
	flex-wrap nowrap

.flx-dir-row
	flex-direction row
.flx-dir-row-reverse
	flex-direction row-reverse
.flx-dir-col
	flex-direction column
.flx-dir-col-reverse
	flex-direction column-reverse

.jc-flx-start
	justify-content flex-start
.jc-flx-end
	justify-content flex-end

.ai-flx-start
	align-items flex-start
.ai-flx-end
	align-items flex-end

.ac-flx-start
	align-content flex-start
.ac-flx-end
	align-content flex-end
