/**
 * base/index
 */

/*------------------------*\
  Basic
\*------------------------*/
html, body
	width 100%
	position relative
	
html
	overflow-x hidden
	&.overflow-hidden
		overflow hidden

body
	overflow hidden

$sect-space = 48px
section
	&.withPadding
		padding $sect-space 0
	&.withPadding-top
		padding $sect-space 0 0
	&.withPadding-bottom
		padding 0 0 $sect-space
	&.withMargin
		margin $sect-space 0
	&.withMargin-top
		margin $sect-space 0 0
	&.withMargin-bottom
		margin 0 0 $sect-space
	&.hasRow
		&.withPadding
			padding ($sect-space - $gutter) 0 $sect-space
		&.withPadding-top
			padding ($sect-space - $gutter) 0 0
		&.withMargin
			margin ($sect-space - $gutter) 0 $sect-space
		&.withMargin-top
			margin ($sect-space - $gutter) 0 0

figure, picture, video
	display block

img, svg
	// width auto
	height auto
	max-width 100%
	vertical-align bottom
	&.w100
		width 100%

a.anchor
	display block
	position relative
	top -($header-height+16px)
	visibility hidden

// Slection
::-moz-selection
	background rgba($main-color, .3)
	color #fff

::selection
	background rgba($main-color, .3)
	color #fff

// Clearfix
.clearfix
	clearfix()
.clearboth
	clear both

// Block Alighment
.aligncenter
	margin-left auto
	margin-right auto

// Display
.block
	display block
.ib
	display inline-block
.inline
	display inline
.table
	display table
.table-cell
	display table-cell
.tablet,
.desktop
	display none

// Position
.relative
	position relative
.absolute
	position absolute
.fixed
	position fixed

// Before & After
.hasBefore,
.hasAfter,
.hasBeforeAfter
	position relative

.hasBefore:before,
.hasAfter:after,
.hasBeforeAfter:before,
.hasBeforeAfter:after
	content ""
	display block
	position absolute

// Transition
.transition
	transiton all .3s ease-in-out
.transition-linear
	transiton all .3s linear
.transition-ease-in
	ttransiton all .3s ease-in
.transition-ease-out
	ttransiton all .3s ease-out
.transition-ease-in-out
	ttransiton all .3s ease-in-out