/**
 * base/index
 */

/* All element */
*
	box-sizing border-box
	-webkit-overflow-scrolling touch
	-webkit-tap-highlight-color transparent

/* Document & body */
html, body
	width 100%
	position relative

html
	overflow-x hidden
	&.overflow-hidden
		overflow hidden
	&.overflow-y-hidden
		overflow-y hidden

body
	overflow hidden

/* Section */
$sect-space = 48px
section
	&.padding
		padding $sect-space 0
	&.padding-t
		padding $sect-space 0 0
	&.padding-b
		padding 0 0 $sect-space
	&.margin
		margin $sect-space 0
	&.margin-t
		margin $sect-space 0 0
	&.margin-b
		margin 0 0 $sect-space
	&.has-row
		&.padding
			padding ($sect-space - $gutter) 0 $sect-space
		&.padding-t
			padding ($sect-space - $gutter) 0 0
		&.margin
			margin ($sect-space - $gutter) 0 $sect-space
		&.margin-t
			margin ($sect-space - $gutter) 0 0

/* Container */
.container
	width 100%
	max-width $container-width
	margin 0 auto
	padding 0 16px

/* Media */
figure, picture, video
	display block

img, svg
	height auto
	max-width 100%
	vertical-align bottom
	&.w100
		width 100%

/* List */
ul
	&.disc, &.circle, &.square
		padding 0 0 0 1.5em
	&.disc
		list-style disc
	&.circle
		list-style circle
	&.square
		list-style square

ol
	&.lower-roman
		list-style lower-roman
	&.upper-roman
		list-style upper-roman
	&.lower-alpha
		list-style lower-alpha
	&.upper-alpha
		list-style upper-alpha

// dl
dt
	font-wieght bold
// dd

/* Anchor */
a.anchor
	display block
	position relative
	top -($header-height+16px)
	visibility hidden

/* Slection */
// ::-moz-selection
// 	background rgba($main-color, .3)
// 	color #fff

// ::selection
// 	background rgba($main-color, .3)
// 	color #fff

/* Clearfix* */
.clearfix
	zoom 1
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
.clearboth
	clear both

/* Block Alighment */
.aligncenter
	margin-left auto
	margin-right auto

/* Display */
.block
	display block
.ib
	display inline-block
.inline
	display inline
.table
	display table
.table-cell
	display table-cell
.tablet,
.desktop
	display none

/* Position */
.relative
	position relative
.absolute
	position absolute
.fixed
	position fixed

/* Before & After */
.has-before,
.has-after,
.has-before-after
	position relative

.has-before:before,
.has-after:after,
.has-before-after:before,
.has-before-after:after
	content ""
	display block
	position absolute

/* Transition */
.transition
	transiton all .3s
.transition-linear
	transiton all .3s linear
.transition-ease-in
	transiton all .3s ease-in
.transition-ease-out
	transiton all .3s ease-out
.transition-ease-in-out
	transiton all .3s ease-in-out

/* Justify content */
.jc-start
	justify-content start
.jc-end
	justify-content end
.jc-center
	justify-content center
.jc-stretch
	justify-content stretch
.jc-between
	justify-content space-between
.jc-around
	justify-content space-around
.jc-evenly
	justify-content space-evenly

/* Align items */
.ai-start
	align-items start
.ai-end
	align-items end
.ai-center
	align-items center
.ai-stretch
	align-items stretch
.ai-baseline
	align-items baseline

/* Align content */
.ac-stretch
	align-content stretch
.ac-center
	align-content center
.ac-between
	align-content space-between
.ac-around
	align-content space-around

/**
 * Flex(box)
 * @link https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.flex
	display flex

// Wrap
.wrap
	flex-wrap wrap
.nowrap
	flex-wrap nowrap

// Direction
.flex-dir-row
	flex-direction row
.flex-dir-row-reverse
	flex-direction row-reverse
.flex-dir-col
	flex-direction column
.flex-dir-col-reverse
	flex-direction column-reverse

// Horizontal Alignment
.jc-flex-start
	justify-content flex-start
.jc-flex-end
	justify-content flex-end

// Vertical Alignment
.ai-flex-start
	align-items flex-start
.ai-flex-end
	align-items flex-end

// Align content
.ac-flex-start
	align-content flex-start
.ac-flex-end
	align-content flex-end
