/**
 * base/desktop
 */

// Container
.container
	max-width $container-width-lg
	&.is-narrow
		max-width $container-width-md

// Display
.desktop
	display block
.ib-lg
	display inline-block
.inline-lg
	display inline
.table-lg
	display table
.table-cell-lg
	display table-cell

// Justify content
.jc-start-lg
	justify-content start
.jc-end-lg
	justify-content end
.jc-center-lg
	justify-content center
.jc-stretch-lg
	justify-content stretch
.jc-between-lg
	justify-content space-between
.jc-around-lg
	justify-content space-around
.jc-evenly-lg
	justify-content space-evenly

// Align items
.ai-start-lg
	align-items start
.ai-end-lg
	align-items end
.ai-center-lg
	align-items center
.ai-stretch-lg
	align-items stretch
.ai-baseline-lg
	align-items baseline
