/**
 * base/desktop
 */

// Container
.container
	max-width $container-width-lg
	&.isNarrow
		max-width $container-width-md

// Display
.desktop
	display block
	&.ib
		display inline-block
	&.inline
		display inline
	&.table
		display table
	&.table-cell
		display table-cell