.none-md, .hidden-md
	display none
.block-md
	display block
.ib-md
	display inline-block
.inline-md
	display inline
.table-md
	display table
.table-cell-md
	display table-cell

.jc-start-md
	justify-content start
.jc-end-md
	justify-content end
.jc-center-md
	justify-content center
.jc-stretch-md
	justify-content stretch
.jc-between-md
	justify-content space-between
.jc-around-md
	justify-content space-around
.jc-evenly-md
	justify-content space-evenly

.ai-start-md
	align-items start
.ai-end-md
	align-items end
.ai-center-md
	align-items center
.ai-stretch-md
	align-items stretch
.ai-baseline-md
	align-items baseline

.ac-stretch-md
	align-content stretch
.ac-center-md
	align-content center
.ac-between-md
	align-content space-between
.ac-around-md
	align-content space-around

.flx-md
	display flex

.flx-wrap-md
	flex-wrap wrap
.flx-nowrap-md
	flex-wrap nowrap

.flx-dir-row-md
	flex-direction row
.flx-dir-row-reverse-md
	flex-direction row-reverse
.flx-dir-col-md
	flex-direction column
.flx-dir-col-reverse-md
	flex-direction column-reverse

.jc-flx-start-md
	justify-content flex-start
.jc-flx-end-md
	justify-content flex-end

.ai-flx-start-md
	align-items flex-start
.ai-flx-end-md
	align-items flex-end

.ac-flx-start-md
	align-content flex-start
.ac-flx-end-md
	align-content flex-end
