/**
 * post/single/md
 */

// the_content()
.the_content
	// Text
	h2, h3, h4, h5, h6, p, ul, ol
		margin 16px 0 0
		margin 20px 0 0
	
	// List
	li
		margin 2px 0 0
	
	// Image
	figure
		margin 28px 0
	img
		&.alignleft, &.alignright
			display inline
		&.alignleft
			margin 0 12px 12px 0
		&.alignright
			margin 0 12px 0 12px
		&.aligncenter
			margin 28px auto
	
	// Table
	//table
		//td