/**
 * footer/index
 */

// Footer
footer.footer
	margin 48px 0 0
	padding 32px 0 0

// Footer Navigation
nav.footer
	margin 0
ul.footer
	margin 0
	li.menu-item
		margin 0
	a
		display block
	> li.menu-item
		margin 0
	ul.sub-menu
		margin 0

// Company Information
.company-info
	margin 0

// Copryright
p.copyright
	margin 24px 0 0
	padding 4px 0
	text-align center