/**
 * config/fontsize-mobile
 */
$h1 = 28px
$h1-lh = 38px

$h2 = 26px
$h2-lh = 34px

$h3 = 21px
$h3-lh = 28px

$h4 = 18px
$h4-lh = 24px

$h5 = 16px
$h5-lh = 24px

$h6 = 14px
$h6-lh = 22px

$p = 12px
$p-lh = 22px

$small = 11px
$small-lh = 18px

$smaller = 10px