/**
 * config/fontsize-tablet
 */
$h1 = 36px
$h1-lh = 44px

$h2 = 28px
$h2-lh = 36px

$h3 = 24px
$h3-lh = 32px

$h4 = 20px
$h4-lh = 28px

$h5 = 16px
$h5-lh = 24px

$h6 = 14px
$h6-lh = 22px

$p = 13px
$p-lh = 22px

$small = 12px
$small-lh = 18px

$smaller = 11px