/**
 * Colors
 */
$main-color = $primary-color = #092487

$k100 = #221814
$k90 = #3e3a39
$k80 = #595757
$k70 = #717071
$k60 = #888889
$k50 = #9f9fa0
$k40 = #b4b5b5
$k30 = #c9c9ca
$k20 = #dcdcdd
$k10 = #eeefef

$black = $k90
$gray = $k70

$bg-gray = #fafbfc

$bdr-black = $black
$bdr-gray = $gray

$txt-black = $black
$txt-gray = $gray

$red = #dc0004
$orange = #ff9900
$yellow = #ffff00
$green = #3cb035
$teal = #00cc99
$cyan = #00ccff
$blue = #0039e6
$purple = #9900cc

/* Font Family */
$sserif = -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', Arial, Verdana, sans-serif
$serif = 'Times New Roman', Times, Georgia, serif
$monospace = 'Courier New', Courier, 'Lucida Console', Monaco, monospace

$gothic = 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
$mincho = 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝体', 'Yu Mincho', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif
$maru-gothic = '新丸ゴ M', 'Shin Maru Go Medium', 'ヒラギノ丸ゴシック ProN', 'Hiragino Maru Gothic ProN', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
$icon = 'Icon'

/* Width & Height */
$container-width = 480px
$container-width-md = (768 + 32 + 32)px
$container-width-lg = (1120 + 40 + 40)px

$gutter = 16px
$gutter-md = 24px
$gutter-lg = 32px

$sect-mar = $sect-pad = 64px
$sect-mar-md = $sect-pad-md = 80px
$sect-mar-lg = $sect-pad-lg = 96px

/* Media Query */
$small = "(max-width: 767px)"
$medium = "(min-width: 768px)"
$large = "(min-width: 1024px)"
$retina = "(min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"

$xs = "(max-width: 575px)"
$sm = "(min-width: 576px)"
$md = "(min-width: 768px)"
$lg = "(min-width: 992px)"
$xl = "(min-width: 1200px)"
