*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	text-rendering optimizeLegibility

:root, html, body
	color $txt-black
	font-family $sserif

body
	-webkit-text-size-adjust none

html, body, .p
	font-size 13px
	line-height 22px
h1, .h1
	font-size 28px
	line-height 38px
h2, .h2
	font-size 24px
	line-height 34px
h3, .h3
	font-size 21px
	line-height 28px
h4, .h4
	font-size 18px
	line-height 24px
h5, .h5
	font-size 16px
	line-height 24px
h6, .h6
	font-size 14px
	line-height 20px
small, .small
	font-size 12px
	line-height 16px
.smaller
	font-size 11px
	line-height 15px

.txt-key
	color $black
.txt-gray
	color $gray
.txt-red
	color $red
.txt-green
	color $green
.txt-blue
	color $blue
.txt-white
	color #fff

.txt-hairline
	font-weight 100
.txt-thin
	font-weight 200
.txt-light
	font-weight 300
.txt-regular
	font-weight 400
.txt-medium
	font-weight 500
.txt-demi
	font-weight 600
b, strong, .txt-bold
	font-weight 700
.txt-heavy
	font-weight 800
.txt-black
	font-weight 900

em, .txt-italic
	font-style italic

a
	&.nounderline
		text-decoration none
		&:hover
			text-decoration underline

.txt-left
	text-align left
.txt-center
	text-align center
.txt-right
	text-align right
.txt-justify
	text-align justify
.txt-justify-last-line
	-moz-text-align-last justify
	text-align-last justify

.sserif
	font-family $sserif
.serif
	font-family $serif
.opensans
	font-family $opensans
.monospace
	font-family $monospace
.gothic
	font-family $gothic
.mincho
	font-family $mincho
.maru-gothic
	font-family $maru-gothic

.kerning-normal
	font-kerning normal
.kerning-none
	font-kerning none
.kerning-auto
	font-kerning auto

.uppercase
	text-transform uppercase
.lowercase
	text-transform lowercase

.txt-nowrap
	white-space nowrap
.txt-wrap
	word-wrap break-word

.hyphenate
	word-break break-all
	hyphens auto

.scaps
	font-variant-caps small-caps
.allscaps
	font-variant-caps all-small-caps
.titling
	font-variant-caps titling-caps

.num-ordinal
	font-variant-numeric ordinal
.num-lining
	font-variant-numeric lining-nums
.num-oldstyle
	font-variant-numeric oldstyle-nums
.num-proportional
	font-variant-numeric proportional-nums
.num-tabular
	font-variant-numeric tabular-nums

.txt-ea-prop
	font-variant-east-asian proportional-width
.txt-ea-full
	font-variant-east-asian full-width

.txt-palt
	font-feature-settings "palt" 1
.txt-pkna
	font-feature-settings "pkna" 1
