*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	text-rendering optimizeLegibility

html, body
	color var(--txt-black)
	font-family var(--sserif)

body
	-webkit-text-size-adjust none

html, body, .p
	font-size var(--body)
	line-height var(--body-l)
h1, .h1
	font-size var(--h1)
	line-height var(--h1-l)
h2, .h2
	font-size var(--h2)
	line-height var(--h2-l)
h3, .h3
	font-size var(--h3)
	line-height var(--h3-l)
h4, .h4
	font-size var(--h4)
	line-height var(--h4-l)
h5, .h5
	font-size var(--h5)
	line-height var(--h5-l)
h6, .h6
	font-size var(--h6)
	line-height var(--h6-l)
small, .small
	font-size var(--small)
	line-height var(--small-l)
.smaller
	font-size var(--smaller)
	line-height var(--smaller-l)

.txt-black
	color var(--txt-black)
.txt-dark
	color var(--txt-dark)
.txt-gray
	color var(--txt-gray)
.txt-light
	color var(--txt-light)

.txt-red
	color var(--red)
.txt-orange
	color var(--orange)
.txt-yellow
	color var(--yellow)
.txt-green
	color var(--green)
.txt-teal
	color var(--teal)
.txt-cyan
	color var(--cyan)
.txt-blue
	color var(--blue)
.txt-purple
	color var(--purple)
.txt-magenta
	color var(--magenta)
.txt-white
	color var(--white)

.txt-w1
	font-weight 100
.txt-w2
	font-weight 200
.txt-w3
	font-weight 300
.txt-w4
	font-weight 400
.txt-w5
	font-weight 500
.txt-w6
	font-weight 600
b, strong, .txt-w7
	font-weight 700
.txt-w8
	font-weight 800
.txt-w9
	font-weight 900

em, .txt-italic
	font-style italic

a
	color inherit
	&.nodeco
		text-decoration none
	&.hvr-nodeco:hover
		text-decoration none
	&.hvr-underline:hover
		text-decoration underline

.txt-left
	text-align left
.txt-center
	text-align center
.txt-right
	text-align right
.txt-justify
	text-align justify
.txt-justify-last-line
	-moz-text-align-last justify
	text-align-last justify

.serif
	font-family var(--serif)
.sserif
	font-family var(--sserif)
.mono
	font-family var(--mono)
// @import './ja'

.kerning-normal
	font-kerning normal
.kerning-none
	font-kerning none
.kerning-auto
	font-kerning auto

.uppercase
	text-transform uppercase
.lowercase
	text-transform lowercase

.txt-nowrap
	white-space nowrap
.txt-wrap
	word-wrap break-word

.hyphenate
	word-break break-all
	hyphens auto

.scaps
	font-variant-caps small-caps
.allscaps
	font-variant-caps all-small-caps
.titling
	font-variant-caps titling-caps

.num-ordinal
	font-variant-numeric ordinal
.num-lining
	font-variant-numeric lining-nums
.num-oldstyle
	font-variant-numeric oldstyle-nums
.num-proportional
	font-variant-numeric proportional-nums
.num-tabular
	font-variant-numeric tabular-nums

.txt-ea-prop
	font-variant-east-asian proportional-width
.txt-ea-full
	font-variant-east-asian full-width

.txt-palt
	font-feature-settings "palt" 1
.txt-pkna
	font-feature-settings "pkna" 1
