:root {
	--mincho: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	--gothic: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝体', 'Yu Mincho', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
	--mgothic:'新丸ゴ M', 'Shin Maru Go Medium', 'ヒラギノ丸ゴシック ProN', 'Hiragino Maru Gothic ProN', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.mincho
	font-family var(--mincho)
.gothic
	font-family var(--gothic)
.mgothic
	font-family var(--mgothic)
