html, body, .p
	font-size 15px
	line-height 26px
h1, .h1
	font-size 36px
	line-height 44px
h2, .h2
	font-size 28px
	line-height 36px
h3, .h3
	font-size 24px
	line-height 32px
h4, .h4
	font-size 20px
	line-height 28px
h5, .h5
	font-size 18px
	line-height 24px
h6, .h6
	font-size 16px
	line-height 22px
small, .small
	font-size 12px
	line-height 16px
.smaller
	font-size 11px
	line-height 15px
